<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>HOME</title>
</head>
<body>
    <div class="headerDiv">
        <a href="/register"><button>REGISTER</button></a>
        <a href="/signIn"><button>SIGNIN</button></a>
    </div>
    <div class="mainTextDiv">
        <span>Web chat application written in Java using Spring Boot, Websockets and Thymeleaf</span>
    </div>
</body>
</html>