<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Document</title>
</head>
        <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
        <script>
            var stompC = null;
            var jsuid = [[${UID}]];
            var currentUser = "[[${currentUser}]]";
            var receiverUser = "[[${receiver}]]";

            function connect() {
                var socket = new WebSocket('ws://localhost:8080/websocket');
                stompC = Stomp.over(socket);
                stompC.connect({}, function(frame){
                    console.log('connected: '+frame);
                    stompC.subscribe('/chat/'+jsuid, function(message){
                        let m = JSON.parse(message.body);
                        console.log(m)
                        showMessage(m);
                    });
                })
            }

            function openMessages(r){
                stompC.disconnect();
                window.location.replace("/messages/"+r)
            }

            function send(){
                let m = document.getElementById('mess').value;
                let receiver = window.location.pathname.split("/")[2];
                let conversationID = null;
                if(jsuid < receiver){
                    conversationID = jsuid+'-'+receiver;
                }else{
                    conversationID = receiver+'-'+jsuid;
                }
                console.log(receiver + ':' + m);
                let sent = {'receiver':receiver, 'content':m, 'sender':jsuid, 'conversationID':conversationID};
                stompC.send('/app/process-message', {}, JSON.stringify(sent));
                let p = document.createElement('p');

                p.innerHTML = '<span class="senderMessSpan">'+sent.content+'</span>';
                p.className = "senderMessP";
    
                document.getElementById('messagesDiv').appendChild(p);

                document.getElementById('mess').value = "";
            }

            function showMessage(message){
                if(message.sender == window.location.pathname.split("/")[2]){
                    let p = document.createElement('p');

                    p.innerHTML = '<span class="receiverMessSpan">'+message.content+'</span>';
                    p.className = "receiverMessP";
    
                    document.getElementById('messagesDiv').appendChild(p);
                }else{
                //     let p = document.createElement('p');
                //     p.innerHTML = 'new message from: '+message.sender;
        
                //     document.getElementById('notificationsDiv').appendChild(p);
                }
            }
        </script>
<body onload="connect()">
    <div class="chatsDiv">
        <p>CHATS</p>
    </div>
    <div id="users">
        <input th:each="registeredUser: ${registeredUsers}" th:if="${UID != registeredUser.UID}" type="button" th:value="${registeredUser.firstName}" th:id="${registeredUser.UID}" class="btnUser" onclick="openMessages(this.id)">
    </div>
    <div class="panelDiv">
        <form action="/logout" method="post"><button type="submit">LOGOUT</button></form>
    </div>
    <div th:if="${receiver != null}" id="sendDiv">
        <input type="text" id="mess" placeholder="Write a message..."/>
        <button id="send" onclick="send()">Send</button>
    </div>
    <div class="receiverDiv">
        <p th:text="${receiver}" id="receiverUser"></p>
    </div>
    <div id="messagesDiv">
        <p th:each="message: ${messages}" th:class="${message.sender != UID} ? 'receiverMessP' : 'senderMessP'">
            <span th:text="${message.content}" th:class="${message.sender != UID} ? 'receiverMessSpan' : 'senderMessSpan'"></span>
        </p>
    </div>
    <div id="notificationsDiv"></div>
</body>
</html>
