<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div th:if="${param.error}">
        <p>USER ALREADY EXISTS</p>
    </div>
    <form th:action="@{/test/register}" method="post" th:object="${user}">
        <table>
        <tr>
            <td><input type="text" th:field="*{firstName}" placeholder="First Name"></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{lastName}" placeholder="Last Name"></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{email}" placeholder="Email"></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
            <td><input type="password" th:field="*{password}" placeholder="Password"></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="REGISTER"></td>
        </tr>
    </table>
    </form>
</body>
</html>